$primary-color: #fcfcfc;
$secondary-color: #5d576b;
$button-color: #99e1d9;
$pink-color: #f7567c;

.landingPage {
  margin: 0px 40px;
  background-color: $primary-color;
  height: 100vh;
}

.landingpage__main {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  grid-template-rows: 1fr 0.3fr;
}

.landingpage__avatar {
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.landingpage__avatar > img {
  margin-left: 40px;
  align-items: center;
  object-fit: contain;
  height: 500px;
  border-radius: 99px;
}

.landingPage__intro {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.landingPage__intro > h1 {
  color: $secondary-color;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}
.landingPage__intro > p {
  font-size: 40px;
  color: gray;
  text-align: center;
  line-height: 50px;
}

.landingPage__intro hr {
  border-top: 1.5px dotted $secondary-color;
  width: 100%;
  margin: auto;
}

.landingPage__socialLinks {
  margin-top: 40px;
  display: flex;
  grid-row-start: 3;
  grid-column-start: 2;
  justify-content: space-evenly;
}

.landingPage__arrow {
  position: absolute;
  bottom: 0px;
  right: 10px;
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media(max-width: 700px){




.landingpage__avatar {
    display: none;
}
.landingPage__intro {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 1;
    text-align: center;
}
.landingPage__intro > p {
    font-size: 40px;
    color: gray;
    line-height: 50px;
}
.landingPage__socialLinks {
    margin-top: 30px;
    display: flex;
    grid-row-start: 2;
    grid-column-start: 2;
    justify-content: space-evenly;

}


.landingPage__intro > h1 {

    color: $secondary-color;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 5px;
}

.landingPage__intro > p {
    color: $secondary-color;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}



}
