.experience {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.experience__time {
  margin: 20px;
}

.experience__description {
  margin: 20px;
  text-align: start;
}

.experience__description > p {
  margin-top: 10px;
}

@media(max-width: 700px) {

.experience__description > p {

        margin-top: 10px;
        text-align: start;
    }

}


